body {
  font-family: Arial, sans-serif;
  background: #2e2e2e;
  color: rgb(93, 227, 245);
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background: #9460a8;
  border: none;
  cursor: pointer;
}